<div id="footer">
  <div id="footer-links">
      {{ partial "menu.html" .}}
  </div>
  <div class="colophon">
    {{ if .Site.Params.copyrightYears }}
        <p>&copy; {{ .Site.Title }} {{ .Site.Params.copyrightYears }}</p>
    {{ end }}
    <p class="license">
        {{ i18n "cc" | safeHTML }}
    </p>  
    {{- $privacyUrl := "/privacy" -}}
    {{- if and $.Sites.First.Params.footer.privacyUrl -}}
      {{ $privacyUrl := $.Sites.First.Params.footer.privacyUrl }}
    {{- end -}}
    {{- with .Site.GetPage "/privacy" -}}
      <p class="privacy">
        <a href="{{ $privacyUrl | safeHTML }}" title="{{ i18n "privacyPolicy" | safeHTML }}">{{ i18n "privacyPolicy" | safeHTML }}</a>
      </p>
    {{- end -}}
    <p class="projektemacher">
        {{ .Site.Title }} {{ i18n "projektemacher" | safeHTML }}
    </p>
  </div>
