<div id="footer">
  <div id="footer-links">
      {{ partial "menu.html" .}}
  </div>
  <div class="colophon">
    {{ if .Site.Params.copyrightYears }}
        <p>&copy; {{ .Title }} {{ .Site.Params.copyrightYears }}</p>
    {{ end }}
    <p class="license">
        {{ i18n "cc" | safeHTML }}
    </p>
    <p class="projektemacher">
        {{ .Site.Title }} ist ein <a href="https://projektemacher.org">Projektemacher</a> Blog<img src="/images/cm.svg" style="height: 16px; margin-left: .5rem; vertical-align: middle;">
    </p>
  </div>
