{{- $pages := .Pages -}}
{{- if .IsHome -}}
    {{- $pages = .Site.RegularPages -}}
{{- end -}}

{{/* Sort sticky pages to top */}}
{{- $stickyPages := where $pages "Params.sticky" "==" true -}}
{{- $nonStickyPages := where $pages "Params.sticky" "!=" true -}}
{{- $pages = union $stickyPages $nonStickyPages -}}

{{- $paginator := .Paginate (where $pages "Params.displayinlist" "!=" false) -}}
{{- range $paginator.Pages -}}
    {{- partial "page.html" . -}}
{{- end -}}

{{- if or ($paginator.HasPrev) ($paginator.HasNext) -}}
<h2 class="pagination">
  {{ if $paginator.HasPrev -}}
    <a class="back-next" href="{{ $paginator.Prev.URL }}">{{ i18n "previous_page" }}</a>
  {{- end -}}
  {{- if $paginator.HasNext -}}
    <a class="back-next" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }}</a>
  {{- end }}
</h2>
{{- end -}}
