{{ $pages := .Pages }}
{{ if .IsHome }}
    {{ $pages = .Site.RegularPages }}
{{ end }}
{{ $paginator := .Paginate (where $pages "Params.displayinlist" "!=" false) -}}
{{- range $paginator.Pages -}}
    {{ partial "page.html" . }}
{{ end }}

{{ if or ($paginator.HasPrev) ($paginator.HasNext) -}}
<h2 class="pagination">
  {{ if $paginator.HasPrev }}
    <a class="back-next" href="{{ $paginator.Prev.URL }}">Back</a>
  {{ end }}
  {{ if $paginator.HasNext }}
    <a class="back-next" href="{{ $paginator.Next.URL }}">Next</a>
  {{ end }}
</h2>
{{- end }}
