<div class="menu-title"><a href="/">{{ .Site.Title }}</a></div>
<div class="menu-title-short"><a href="/">
  {{- if .Site.Params.menuTitleShort -}}
    {{- .Site.Params.menuTitleShort -}}
  {{- else -}}
    {{- .Site.Title -}}
  {{- end -}}
</a></div>
<div class="fill-spacer"></div>
<input type="checkbox" id="menu-toggle">
<label class="menu-button float-right" for="menu-toggle"><i class="fas fa-bars"></i></label>
<ul class="menu">
  {{- with .Site.Menus.main -}}
    {{- range sort . -}}
      <li class="navigation-item">
        <a class="navigation-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
      </li>
    {{- end -}}
  {{- end -}}

  {{ with .Translations }}
    {{ range . }}
      {{- if ne $.Site.Language .Language -}}
        <li class="navigation-item lang-switch">
          <a class="navigation-link lang" lang="{{ .Lang }}" href="{{ .RelPermalink }}">{{ i18n .Language }}</a>
        </li>
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{- range .Site.Home.Translations -}}
      <li class="navigation-item lang-switch">
        <a class="navigation-link lang" lang="{{ .Lang }}" href="{{ .RelPermalink }}">{{ i18n .Language }}</a>
      </li>
    {{- end -}}
  {{- end -}}
</ul>
