name: Lint and check

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)

      - name: Setup Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: '.nvmrc'

      - name: Install Node dependencies
        run: |
          yarn install --ignore-scripts

#      - name: run linters
#        run: |
#          yarn run lint
